@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
.inicio{
    --opacidad-negro: 0.3;
    background-image: linear-gradient(rgba(0, 0, 0, var(--opacidad-negro)), rgba(0, 0, 0, var(--opacidad-negro))), url("../img/portada.7z");
    background-position: center;
    background-size: cover;
    height: 50rem;
}
h1{
    font-size: 3rem;
    font-family: 'Pixelify Sans', sans-serif;
    color: rgb(14, 115, 199);
}

.moi{
    .texto{
        
        
    }
}